{%  extends"::mahmoudlayout.html.twig"%}

{% block ab %}
              <!--     Angularjs         -*-*-*-*-*- Angularjs    *-*-*-*-*-   Angularjs  *-*-*-*-*-   Angularjs
                   *-*-*-*-*-   Angularjs  *-*-*-*-*-   Angularjs -->
     <div ng-app="" ng-init="person={Nom:'REKIK',Prenom:'MAHMOUD',tel:'+216 21 482 084'}">

     Nom:      {{ '{{ person.Nom }}' }}  Prenom:{{'{{ person.Prenom }}' }} Tel:    {{'{{ person.tel }}' }}
         <!--     Angularjs         -*-*-*-*-*- Angularjs    *-*-*-*-*-   Angularjs  *-*-*-*-*-   Angularjs
                   *-*-*-*-*-   Angularjs  *-*-*-*-*-   Angularjs -->

</div>
<img class="img-circle" src="http://mr-rk.bati-plus.com/wp-content/uploads/2015/07/rekikmahmoud.png" alt="rekikmahmoud" width="152" height="153" />

</div>


<div class="page-header"> <h1>
<span class="glyphicon glyphicon-user"></span>COMPETENCEs</h1><br/>
</div>
                 <div class="jumbotron">
                 <!--       -*/-*/-*/-*/-*/-*/*-/-*/-*/-*/-*/*-/-*/*-/-*/*-/-*/-*/-*/-*/-*/-*/-*/-*/-*/-*-->
                 <div class="row">
                 <div class="col-md-3">
                 <span class="glyphicon glyphicon-asterisk"></span><strong>Technologie Java/J2EE :</strong><br/>JSP, JSF,EJB, Servlets, GlassFish,Tomcat,struts,spring Hibernate PrimeFaces, RichFaces<br/> <br/>
                 <span class="glyphicon glyphicon-download-alt"></span><strong>Script:</strong>Ms-Dos,Shell<br/>
                 </div>
                 <div class="col-md-6">
                 <span class="glyphicon glyphicon-cog"></span><strong>Technologie Web:</strong> HTML 5, JavaScript, PHP 5, CSS 3,JSON,XML<br/>
                 <span class="glyphicon glyphicon-asterisk"></span><strong>framework:</strong>laravel 5,symfony2,jQuery,bootstrap,AngularJS,<br/>
                 <span class="glyphicon glyphicon-screenshot"></span><strong>referencement/outils d'analyse:</strong>SEO(referencement naturel),SMO(referencement social),Google Analytics<br/>
                 </div>
                 <div class="col-md-3">
                 <span class="glyphicon glyphicon-screenshot"></span><strong>CMS :</strong>Joomla, Wordpress,Prestashop,Magento,Drupal <br/>
                 <span class="glyphicon glyphicon-screenshot"></span><strong>Outils de versionning:</strong>GIT, SVN <br/>
                 </div> </div><br/>


                    <!--       -*/-*/-*/-*/-*/-*/*-/-*/-*/-*/-*/*-/-*/*-/-*/*-/-*/-*/-*/-*/-*/-*/-*/-*/-*/-*-->
                    <div class="row">
                    <div class="col-lg-3">
                    <span class="glyphicon glyphicon-download-alt"></span><strong>Base de donnees :<strong> MySQL, SQL Server, Oracle,<br/>
                    </div >
                    <div class="col-lg-6">
                    <span class="glyphicon glyphicon-screenshot"></span><strong>Multimedia :<strong> photoshop ,illustrator, Movie Maker<br/>
                    <span class="glyphicon glyphicon-leaf"></span>Outils de developpement: NetBeans, Power AMC, Rational Rose, StarUML,<br/>
                    </div>


                      <div class="col-lg-3">
                      <span class="glyphicon glyphicon-remove-sign"></span><strong>Methode de Conception :<strong> UML<br/>

                    </div>  </div>   <br/>

   <!--       -*/-*/-*/-*/-*/-*/*-/-*/-*/-*/-*/*-/-*/*-/-*/*-/-*/-*/-*/-*/-*/-*/-*/-*/-*/-*-->
<br/>
<div class="row">  <div class="col-md-6 col-md-offset-3">
<span class="glyphicon glyphicon-globe"></span>LANGUES<br/>
<span class="glyphicon glyphicon-globe"></span>Arabe : Langue maternelle<br/>
<span class="glyphicon glyphicon-globe"></span>Francais : Bilingue<br/>
<span class="glyphicon glyphicon-globe"></span>Anglais : Courant<br/>      
</div>  </div></div>

<div>pour toute information complementaire, ou pour vous rencontrer lors d'un entretien <a title="Pour me contacter cliquez ici!!!" href="{{ path('contact') }}" data-toggle="tooltip">contactez moi<span class="glyphicon glyphicon-earphone"></span></a>
</div>
</div>
</div>


{% endblock %}
